

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


@font-face {
    font-family: 'bonzai';
    src: url('../fonts/bonzai.ttf') format('truetype');
}

@font-face {
    font-family: 'ObelixProB-cyr';
    src: url('../fonts/ObelixProB-cyr.ttf') format('truetype');
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../Assets/Images/sushi_backgrounds.jpg'); 
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


h1,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: white;
    text-shadow: 1px 1px 2px #f10a18;
}

h2{
    text-transform: uppercase;
    font-family: ObelixPro;
    color: white;
    text-shadow: 1px 1px 2px #f10a18;
    font-size: 35px;
    letter-spacing: 1px;
}

h3,
h4{
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: black;
}

p {
    font-size: 1.55em;
    line-height: 1.8;
    color: white;
}


/* Custom Navbar Css */

.brand,
.address-bar {
    display: none;
}


.navbar-default .navbar-brand {
    color: #e41111;
    font-family: ObelixPro;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: right; 
    
}



.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: white;
}

/*header brand name css*/
@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 20px 0 10px;
        text-align: center;
        text-shadow: 2px 3px 3px #f10a18;
        font-family: "ObelixProB-cyr";
        font-size: 3em;
        font-weight: 200;
        letter-spacing: 3px;
        line-height: normal;
        color: #fff;
    }


    .intro-text {
        text-transform: uppercase;
        font-size: 1.75em;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        color: white;
        padding: 5px;

    }

    .top-divider {
        margin-top: 0;
    }

    /*navbar links + address bar css */
    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        text-shadow: 1px 1px 2px #f10a18;
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 500;
        letter-spacing: 3px;
        color: white;
    }


    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        background-color: black;
        
    }

        .navbar-default .navbar-nav>li>a {
    color: #f5efef;
     padding: 25px;
      line-height: normal;
}


        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
            color: #f10a18;
            background-color: transparent;
            border: 4px solid white;
        }

   
    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.35em;
    }

 .home-content{
     padding-top:50px;  
     padding-bottom:100px;
 }

}

    @media screen and (min-width:1200px) {
        .box:after {
            content: '';
            display: table;
            clear: both;
        }
    }



 

