@{
    ViewBag.Title = "Contact Us";
}

<div class="row">
    <div class="col-md-6">
        <br/>
        <h2>@ViewBag.Title</h2>
        <address>
            123 Main Street<br />
            Barrie ON, 1P1 2E5<br />
            <abbr title="Phone">P:</abbr>
            705-969-9765
        </address>
    </div>
    <div class="col-md-6">
        <br/>
        <h3>Find Us!</h3>
        <img src="~/Assets/Images/map.png" alt="Location of our restaurant" class="img-responsive" />
    </div>
</div>


