@{
    ViewBag.Title = "Contact Us";
}

<div class="row">
    <h2 class="brand center-block">@ViewBag.Title</h2>
    <div class="col-md-6">
        <br/>
     <h5>SUSHIVILLE<br /></h5>
        <p>
            123 Main Street<br />
            Barrie ON, 1P1 2E5<br />
            <abbr title="Phone">P:</abbr>
            705-969-9765
        </p>
        <p>
            <!--social media icons   -->
            <strong>Stay Connected</strong> <br />
            <a href="#"><i class="footer-links fa fa-facebook-square fa-2x social"></i></a> |
            <a href="#"><i class="footer-links fa fa-twitter-square fa-2x social"></i></a> |
            <a href="#"><i class="footer-links fa fa-google-plus-square fa-2x social"></i></a> |
            <a href="#"><i class="footer-links fa fa-envelope-square fa-2x social"></i></a> |
        </p>
    </div>
    <div class="col-md-6">
        <br/>
        <p class="intro-text">Find Us!</p>
        <img src="~/Assets/Images/map.png" alt="Location of our restaurant" class="img-responsive" />
    </div>
</div>


