@{
    ViewBag.Title = "Home Page";
}

<div class="container home-content">
    <div class="row">
        <div class="col-md-7">
            <a href="@Url.Action("Menu","Menu")">
                <img class="img-responsive home-image" src="~/Assets/Images/Fullimages/shima.jpg" alt="sushi" width="1000" height="100" />
            </a>
        </div>
        <div class="col-md-5">
            <h5>Check Out Our Exciting Menu Here! </h5>
            <p>Check out our delicious food items specially home made by our master chef.</p>

            <a href="@Url.Action("Menu","Menu")" class="btn btn-info"><i class="fa fa-book fa-lg"></i>View Menu</a>
        </div>
    </div>
</div>