@{
    ViewBag.Title = "Home Page";
}

<div class="container home-content">
    <div class="row">

        <div class="container">
            <!-- brand name  -->
            <div class="row center-block">
                
                <div class="intro-text">Welcome to, </div>
                <img class="img-responsive center-block" src="~/Assets/Images/sushiville.png" alt="sushiville logo" />
                <div class="intro-text">Eating Healthy Can Be Delicious Too! </div>
            </div>
            <!--  <div class="col-md-7">

                  <img class="img-responsive home-image" src="~/Assets/Images/shima.jpg" alt="sushi" width="1000" height="100" />

          </div>
          <div class="col-md-5">
              <h5>Check Out Our Exciting Menu Here! </h5>
              <p>Check out our delicious food items specially home made by our master chef.</p>

              -->

        </div>
</div>